doctype 5
html
  head
    meta(charsetf="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Akademiska 2
    link(rel="stylesheet", href="/stylesheets/style.css")
    script(src="http://code.jquery.com/jquery-1.9.1.min.js")

  body
    block content

    block footer

